@import 'Navbar';
@import 'Header';
@import 'Section1';
@import 'Section2';
@import 'Footer';
html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: monospace;
    margin: 0;
    padding: 0;
}